
<div style="padding-top: 10em; ">
    <div  class="jumbotron" style="background-color:#FFF9E8">
        <h1 style="text-align: center; color: black"> WELCOME FPT University</h1>
    </div>
</div>
@model IEnumerable<APSDevApp.Models.Course>
@{
    ViewBag.Title = "Home Page";
}
@if (User.IsInRole("trainee"))
{
    <h2 style="">See Course Available</h2>
    <table class="table table-bordered" , style="margin-left: 20px; text-align: center">
        <thead style="">
            <tr style="background-color:#F1F8FF;">
                <th>Course #</th>
                <th>Course Name</th>
                <th>Course Description</th>
                <th>Category Name</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr style="color:black; text-align:center">
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Category.Name</td>
                    </tr>
                }
            }

        </tbody>
    </table>
}

