@model APSDevApp.Models.Category
@{
    ViewBag.Title = "Details";
}

<h2 style="text-align:center"> Details Category: @Model.Name </h2>
<table class="table table-bordered">
    <thead>
        <tr style="background-color: #BE5355 ; text-align:center; ">
            <th style="text-align: center ; color: white">Name</th>
            <th style ="text-align: center; color: white"> Description</th>
        </tr>
    </thead>
    <tbody>
        <tr style="color:black; text-align:center">
            <td>@Model.Name</td>
            <td>@Model.Description</td>
        </tr>
    </tbody>
</table>

@Html.ActionLink("Back to My Category", "Index", "Categories",
    null,
    new { @class = "btn btn-primary" })

